.registered
.DS_Store
*.swp
# Ignore build, bin, and lib globally, but allow specific build folders
bin/
lib/
!omplapp-1.6.0-Source/build/
!ompl_pinocchio_integration/build/
!pinocchio/build/

*.pcd
*.pyc
*.so
*.dylib
py-bindings/ompl/app/
py-bindings/ompl/bindings_generator.py
!py-bindings/ompl/bindings_generator.py.in
.vscode
*.so.*
*.egg-info
*.pyi

